//Copyright (C)2014-2026 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.03 (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Mon 08 10 19:58:09 2026

IO_LOC "conv_done_pin" 51;
IO_PORT "conv_done_pin" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "mux_bits[2]" 56;
IO_PORT "mux_bits[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "mux_bits[1]" 55;
IO_PORT "mux_bits[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "mux_bits[0]" 54;
IO_PORT "mux_bits[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "dac_bits[7]" 25;
IO_PORT "dac_bits[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "dac_bits[6]" 26;
IO_PORT "dac_bits[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "dac_bits[5]" 27;
IO_PORT "dac_bits[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "dac_bits[4]" 28;
IO_PORT "dac_bits[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "dac_bits[3]" 29;
IO_PORT "dac_bits[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "dac_bits[2]" 30;
IO_PORT "dac_bits[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "dac_bits[1]" 33;
IO_PORT "dac_bits[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "dac_bits[0]" 34;
IO_PORT "dac_bits[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "mux_nen" 57;
IO_PORT "mux_nen" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "sda" 41;
IO_PORT "sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "scl" 42;
IO_PORT "scl" IO_TYPE=LVCMOS33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "sample_comp" 53;
IO_PORT "sample_comp" IO_TYPE=LVCMOS33 PULL_MODE=NONE PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "sys_nrst" 4;
IO_PORT "sys_nrst" IO_TYPE=LVCMOS18 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=1.8;
IO_LOC "sys_clk" 52;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE PCI_CLAMP=OFF BANK_VCCIO=3.3;
